extends layout

block style
  style(type='text/css').
    body {background-color:#ffffff;}
    .basket {background-color: #ffffff; padding-top: 10px; padding-left: left;width: 100%;margin-bottom: 15px; border-width:1px;border-color:#bbbbbb; border-style:solid; padding-bottom:10px;}
    button.btn {width: 100%;}
    table#table1 {border: solid; border-color:#A6A6A6;border-width: 1px; margin-top:10px; margin-left:0px;width:70px;}
    table#table2 {width:200px;border: solid; border-color:#A6A6A6;border-width: 0px; margin-top:10px;background-color:#d5d5d5;}
    table#table3 {font-size:80%; text-align:center; margin-top:10px;}
    .name {margin-top: 3px;}
    .bold {font-weight: bold;}
    .right {text-align: right;}
    .discount {font-size: 130%;}
    #footer5 { position:fixed; bottom:5px; right:0px;left:0px; background-color:#ffffff;  border-style:solid; border-color:#bbbbbb; border-width:0px; border-top-width:2px;text-align:center;}
    #footer5 h5 {font-weight:bold; color:#ffa800;}
    #t1 {background-color:#ffffff; font-weight:bold; color:#747474; width:25px;text-align:center;}
    #t2 {background-color:#ffffff; font-weight:bold; color:#000000; width:25px;text-align:center;}
    #t3 {background-color:#ffffff; font-weight:bold; color:#747474;width:25px;text-align:center;}
    #t4 {background-color:#ffffff; font-weight:bold; color:#747474;width:25px;text-align:center;}
    #footer {display: none;}

block content
  p 장바구니는 최대 60일간 보관되며, 딜종료시 사라집니다.
  form.form-inline
    each val, index in basket
      .basket.col-xs-12(id="basket#{index}")
        .row
          .col-xs-3
             img(src="/images/product_image/#{val.no}/main.jpg" width="70px" height="70px")
          .col-xs-7
             h4.name.bold= info[index].name
             h6= info[index].comment
             h5.price.bold= info[index].price
          .col-xs-2
            span.glyphicon.glyphicon-remove(style="float:right;" onClick="disappear(#{index});")
        .row
          .col-xs-3
            center(style='float: left; width: 70px;')
              table#table1
                tr
                  td#t1(onclick="Minus(#{index});").
                    <span class="glyphicon glyphicon-minus">
                  td#t2.count= val.count
                  td#t3(onclick="Plus(#{index});").
                    <span class="glyphicon glyphicon-plus">
              table#table3
                tr
                  td.discount 총 할인금액
                tr
                  td.price.discount 0$
          .col-xs-9
            center
              table#table2
                tr
                  td#t4 SNS 공유
                  td#t4.
                    <input type="checkbox">
                  td#t4.price.right -#{val.sns}
                tr
                  td#t4 A/S 불가
                  td#t4.
                    <input type="checkbox">
                  td#t4.price.right -#{val.as}
                tr
                  td#t4 반품 불가
                  td#t4.
                    <input type="checkbox">
                  td#t4.price.right -#{val.return}
      
    #footer5.col-xs-12
      .row
        .col-xs-6
          h6 상품 금액
        .col-xs-6
          h6.price 0
      .row
        .col-xs-6
          h5 할인 금액
        .col-xs-6
          h5.price 0
      .row
        .col-xs-6
          h6 결제 금액
        .col-xs-6
          h6.price 0
      button.btn.btn-danger(type='submit') 구매하기

block script_content
  script.
    function Minus(index){
      var goodnum = parseInt($("#basket"+index+" .count").html());
      if(goodnum>1){
        goodnum = goodnum -1;
        $("#basket"+index+" .count").html(goodnum);
      }
    }
    function Plus(index){
      var goodnum = parseInt($("#basket"+index+" .count").html());
      goodnum = goodnum +1;
      $("#basket"+index+" .count").html(goodnum);
    }
    function disappear(index){
      $("#basket"+index).css('display', 'none');
    }
    function comma(a) {
      a.html(function(index, currentcontent) {
          return currentcontent.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')+" 원";
        });
    }
    function commaAll() {
      $(".price").each(comma($(this)));
    }
    $(document).ready(commaAll);
    $(".price").change(comma);
