doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {background-color: #f6f6f6; padding-bottom: 20px;}
      #nav {background-color: #ffffff; padding-top: 7px; padding-left: 10px; padding-bottom: 7px; text-align: center;border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; z-index: 1;}
      #nav span {float: left; font-size: 20px; padding-top: 9px; color:black;}
      #nav h4 {float: clear; padding-right: 15px;}
      #contentBox { margin-top:10px;}
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img { width:100%; margin:auto;}
      .carousel-control.left, .carousel-control.right {background-image:none;}
      #likeBlock {background-color:#ffffff; text-align:center; width:100%; padding-top:5px;}
      #contentBlock {background-color:#ffffff; width:100%;border-width:0px; border-style:solid; border-color:#bbbbbb; border-bottom-width:1px; border-top-width:1px; padding-top:20px; padding-bottom:10px;}
      #commentBlock {background-color:#ffffff; width: 100%; padding-top: 3px; padding-bottom: 3px; border-width:0px; border-style:solid; border-color:#bbbbbb; border-bottom-width:1px;}
      #commentInput {width: 100%; position: relative; height: 45px; padding: 0;}
      #comment {width: 100%; padding: 0px;padding-top: 3px; padding-bottom: 3px; }
      #commentField {width: 85%; resize: none; height: 45px; -webkit-appearance: none; border-radius: 0;}
      #commentBtn {width: 15%; padding: 0; height: 45px; top: 0; position: absolute; border-radius: 0;}
      #like, #clip {z-index: 1; cursor: pointer;}
      .comment-header {padding: 0;}
      .reg-comment {padding: 0; margin-bottom: 15px;}
      .date {float: right; }
      .date p {font-size:10px; color:#A6A6A6;}
      #comment {background-color:#f9f9f9; width: 100%; padding: 10px; margin-bottom:15px;}
  body
    #nav.col-xs-12
      a(href='javascript:history.back()')
        span.glyphicon.glyphicon-arrow-left
      h4.bold 컨텐츠
    
    #myCarousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators(style="margin-bottom:-10px;")
        li.active(data-target="#myCarousel" data-slide-to="0")
        - for (var i=1; i<content.imageCount; i++) {
          li(data-target="#myCarousel" data-slide-to="#{i}")
        - }
      .carousel-inner(role="listbox")
        .item.active
          img(src="/images/contents/#{content.image}/0")
        - for (var i=1; i<content.imageCount; i++) {
          .item
            img(src="/images/contents/#{content.image}/#{i}")
        - }
      a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev" style="margin-top:40px;").
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
        <span class="sr-only">Previous</span>
      a.right.carousel-control(href="#myCarousel" role="button" data-slide="next" style="margin-top:40px;").
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
        <span class="sr-only">Next</span>
    #contentBlock.col-xs-12
      p= content.content
    #likeBlock.col-xs-12
      .row
        if (loggedIn)
          .col-xs-2#like(onClick='like();')
            img#like_img(src=(content.user_like==1 ? './images/heart_on.png' : './images/heart.png') class=(content.user_like==1 ? 'like' : 'no_like') width='18px;')
            h6= content.like
        else
          .col-xs-2
            img(src='./images/heart.png' width='18px;')
            h6= content.like
        .col-xs-2
          img(src='./images/speech.png' width='18px;')
          h6= content.count
        if (loggedIn)
          .col-xs-2#clip(onClick='clip();')
            img#clip_img(src=(content.user_clip==1 ? './images/clip_on.png' : './images/clip.png') class=(content.user_clip==1 ? 'clip' : 'no_clip') width='18px;')
            h6= content.clip
        else
          .col-xs-2
            img(src='./images/clip.png' width='18px;')
            h6= content.clip
        .col-xs-offset-4.col-xs-2
          img(src='./images/view.png' width='18px;')
          h6= content.view
    #commentBlock.col-xs-12
      #commentInput
        textarea#commentField(onClick=(loggedIn? "" : "goLogin();") maxlength="70" placeholder="댓글을 입력하세요")
        button.btn.btn-warning#commentBtn(onClick=(loggedIn? "reg_comment();" : "goLogin();")) 입력
      each val in comment
        .comment-header.col-xs-12
          h5.bold(style='display: inline; color: #1F50B5')= val.email
        #comment.col-xs-12
          .date
            p= val.date
          h6(style='display: inline;')= val.content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      function reg_comment(){
          $.ajax({
            type: "POST",
            url: '/reg_cont_comment',
            data: {contentNo: #{contentNo}, content: $("#commentField").val()},
            success: function() {
              location.reload();
            }
          });
        }
      function like(){
        var like_id = $('#like_img');
        if(like_id.attr('class') == "like"){
          $.ajax({
            type: "POST",
            url: '/content_like',
            data: {command: "delete", contentNo: #{contentNo}},
            success: function(data) {
              like_id.attr('class', 'no_like');
              like_id.attr('src', './images/heart.png');
              $('#like h6').html(data.count);
            }
          });
        }
        else{
         $.ajax({
            type: "POST",
            url: '/content_like',
            data: {command: "insert", contentNo: #{contentNo}},
            success: function(data) {
              like_id.attr('class', 'like');
              like_id.attr('src', './images/heart_on.png');
              $('#like h6').html(data.count);
            }
          });
        }
      }
      function clip(){
        var like_id = $('#clip_img');
        if(like_id.attr('class') == "clip"){
          $.ajax({
            type: "POST",
            url: '/content_clip',
            data: {command: "delete", contentNo: #{contentNo}},
            success: function(data) {
              like_id.attr('class', 'no_clip');
              like_id.attr('src', './images/clip.png');
              $('#clip h6').html(data.count);
            }
          });
        }
        else{
         $.ajax({
            type: "POST",
            url: '/content_clip',
            data: {command: "insert", contentNo: #{contentNo}},
            success: function(data) {
              like_id.attr('class', 'clip');
              like_id.attr('src', './images/clip_on.png');
              $('#clip h6').html(data.count);
            }
          });
        }
      }
      function goLogin() {
        var r = confirm("로그인이 필요합니다.\n로그인하시겠습니까?");
        if (r == true)
          location.href="/login";
      }
    script(src='/bootstrap/js/bootstrap.min.js')
