extends layout

block style
  style(type='text/css').
    #sectionA, #sectionB { background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;}
    .contents {background-color: #ffffff; width: 100%;height:50px;margin-bottom: 13px;margin-top: 10px;}
    .nav-tabs li {width: 50%;background-color: #d7d7d7;}
    #detail-product { float: left; margin-bottom: 20px;}
    .nav-pills {clear: both; text-align: center;}
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {border-radius: 0px; background-color: #FFA800;}
    .nav-pills>li {width: 32%; background-color: #FFFFFF; border-width: 1px; border-color: #FFA800; border-style: solid;}
    #secC {padding-right: 10px;}
    .nav-pills>li>a {color: #FFA800;}
    .bs-example {background-color:#ffffff; width:100%; padding-top:10px;}
    #brand-list { background-color:#ffffff;height:55px; margin-top: 10px; margin-bottom: 10px; }
    #brand-list h6 {font-size:110%; }
    .like {width: 85px; font-size:90%; border-style:solid; border-width:1px; border-radius:15px; text-align:center; border-color:#bbbbbb; background-color:#ffa800; padding-top: 3px; padding-bottom: 3px;}
    .non_activated {width: 85px; font-size:90%; border-style:solid; border-width:1px; border-radius:15px; text-align:center; border-color:#bbbbbb; background-color:#ffffff; padding-top: 3px; padding-bottom: 3px;}
    
block content
  .container
    #brand-list.col-xs-12
      .row(style='height: 55px;')
        .col-xs-2(style='height: 100%; min-width: 75px !important;' onclick="location.href='/brand?brandNo=#{product[0].brandNo}';")
          span(style='display: inline-block; height: 100%; vertical-align: middle;')
          img(style='width: 45px; height: auto; vertical-align: middle;' src="./images/brand_logo/#{product[0].brandImage}")
        .col-xs-6(style='width: auto; height: 100%;' onclick="location.href='/brand?brandNo=#{product[0].brandNo}';")
          span(style='display: inline-block; height: 100%; vertical-align: middle;')
          h6(style='display: inline-block; margin: 0; vertical-align: middle; line-height: 100%;')= product[0].brandName
        .col-xs-4(style='height: 100%; min-width: 115px !important; float: right;')
          center(style='height: 100%;')
            span(style='display: inline-block; height: 100%; vertical-align: middle;')
            p#like(onclick="like();" class=(product[0].brandlike==1 ? "like" : "non_activated") style='display: inline-block; height: 26px; margin: 0; vertical-align: middle; line-height: 20px;') 즐겨찾기
    h5(style="font-weight:bold; margin-top:10px;") 상품구매
    .bs-example.col-xs-12     
      .row
        #detail-product.col-xs-6
          img(src='/images/product_image/#{productNo}/main.jpg', width='100%')
        #detail-product.col-xs-6
          h5= product[0].productName
          h6.price= product[0].productPrice
          button.btn.btn-default(style="margin-top:10px;" onClick="location.href='/add_goods/#{productNo}'") 추가할인
      br
      br
      ul.nav.nav-pills
        li.active
          a(data-toggle='tab', href='#secA') 상세페이지
        li
          a(data-toggle='tab', href='#secB') 상품 안내
        li
          a(data-toggle='tab', href='#secC') 댓글
      .tab-content
        #secA.tab-pane.fade.in.active
          img(src='./images/product_image/#{productNo}/detail.jpeg' width='100%')
        #secB.tab-pane.fade
          h3 상품 안내
          p
        #secC.tab-pane.fade
          h3 댓글
          form(role='form', action='/reg_comment', method='post')
            input(type='hidden' name='productNo' value='#{productNo}')
            .form-group
              textarea.form-control(rows='3', placeholder='댓글을 입력하세요', maxlength='100', name='content')
            .form-group(align='right')
              button.btn.btn-default(type='submit') 댓글 입력
          br
          table.table
            thead
              th 댓글 목록
            tbody
              each val in result
                tr
                  td
                    p(style='display:inline;')!= '<b>'+val.email+'</b>'
                    p(style='float:right; font-size:10px; font-color:#A6A6A6;')= val.date
                    p= val.content
            tfoot
              tr
                td(style='text-align: center')
                  - var listCount = 5;
                  - var pageCount = Math.ceil(count / listCount);
                  - var currentPage;
                  - if (pageNo) {
                  -   currentPage = pageNo;
                  - } else {
                  -   pageNo = currentPage = 1;
                  - }
                  - console.log(currentPage);
                  - for (var page = 1; page <= pageCount; page++) {
                  -   if (currentPage == page)    
                        b #{page}
                  -   else
                        a(href ='/detail?productNo=#{productNo}&pageNo=#{page}#secC') #{page}
                      =' '
                  - }
                    
block script_content
  script.
    function reloadPage(){
      var hash = window.location.hash;
      if (hash === '#secA' || hash === '#secB' || hash === '#secC') {
        $('ul.nav a[href="' + '#sectionB' + '"]').tab('show');
        $('ul.nav a[href="' + hash + '"]').tab('show');
      }
      else
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');
      }
    $(document).ready(reloadPage);
    function comma() {
      $("h6.price").each(function() {
        $(this).html(function(index, currentcontent) {
          return currentcontent.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')+" 원";
        }); 
      });
    }
    $(document).ready(comma);
    function like(){
        var like_id=document.getElementById("like");
        if(like_id.className == "like"){
          $.ajax({
            type: "POST",
            url: '/brand_like',
            data: {command: "delete", brandNo: #{product[0].brandNo}},
            success: function() {
              like_id.className = "non_activated";
            }
          });
        }
        else{
         $.ajax({
            type: "POST",
            url: '/brand_like',
            data: {command: "insert", brandNo: #{product[0].brandNo}},
            success: function() {
              like_id.className = "like";
            }
          });
        }
      }