doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {background-color: #f6f6f6; padding-bottom: 20px;}
      #nav {background-color: #ffffff; padding-top: 7px; padding-left: 10px; padding-bottom: 7px; text-align: center;border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;}
      #nav span {float: left; font-size: 20px; padding-top: 9px; color:black;}
      #nav h4 {float: clear; padding-right: 15px;}
      #activityTab {text-align:center; background-color:#ffffff; border-width:0px; border-style:solid; border-color:#ffa800;height:50px; padding-top:7px; border-bottom-width:3px;}
      #likeTab {text-align:center; background-color:#ffffff; border-width:0px; border-style:solid; border-color:#ffffff;height:50px; padding-top:7px; border-bottom-width:3px;}
      #activity_con {display:block; padding: 5px;}
      #like_con {display:none; padding: 5px;}
      #titleBlock {background-color:#ffffff; width:100%; height:50px; padding-top:10px;}
      #imgBlock {background-color:#ffffff; width:100%;padding-left: 0; padding-right: 0;}
      #likeBlock {background-color:#ffffff; text-align:center; width:100%; padding-top:5px; padding-right: 25px; background-clip: content-box; }
      .community-box {background-color: #FFFFFF;
      background-clip: content-box;padding: 5px;}
      .community-box:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          display: block;
          border: 1px solid #c3c3c3;
          cursor: pointer;
      }
      .no-margin {margin: 0;}
      .community-row {width: 100%; margin: 0;}
      .community-col {width: 50%; margin: 0; float: left; overflow: auto;}
      
  body
    #nav.col-xs-12
      a(href='javascript:history.back()')
        span.glyphicon.glyphicon-arrow-left
      h4.bold 나의 활동
    .col-xs-12
      .row
        #activityTab.col-xs-6(onClick="change(1);")
          h5.bold 내가 쓴 글
        #likeTab.col-xs-6(onClick="change(2);")
          h5.bold 담은 글
    #activity_con.col-xs-12
      each val, index in community
        - if (index % 2 == 0) {
        .row.community-row
          .col-xs-6.community-box(onClick="location.href='/community_box?communityNo=#{community[index].communityNo}';")
            #titleBlock.col-xs-12
              .row
                .col-xs-2
                  img(src='./images/brand_logo/#{community[index].brandImageName}' width='25px;')
                .hidden-xs.col-sm-4
                  h6= community[index].brandName
            #imgBlock.col-xs-12
              img(src='./images/community/#{community[index].image}' width="100%;")
            #likeBlock.col-xs-12
              .row
                .col-xs-4
                  img(src=(community[index].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
                  h6= community[index].like
                .col-xs-4
                  img(src='./images/speech.png' width='20px;')
                  h6= community[index].count
                .col-xs-4
                  img(src='./images/view.png' width='20px;')
                  h6= community[index].view
          - if (index+1 < community.length) {
            .col-xs-6.community-box(onClick="location.href='/community_box?communityNo=#{community[index+1].communityNo}';")
              #titleBlock.col-xs-12
                .row
                  .col-xs-2
                    img(src='./images/brand_logo/#{community[index+1].brandImageName}' width='25px;')
                  .hidden-xs.col-sm-4
                    h6= community[index+1].brandName
              #imgBlock.col-xs-12
                img(src='./images/community/#{community[index+1].image}' width="100%;")
              #likeBlock.col-xs-12
                .row
                  .col-xs-4
                    img(src=(community[index+1].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
                    h6= community[index+1].like
                  .col-xs-4
                    img(src='./images/speech.png' width='20px;')
                    h6= community[index+1].count
                  .col-xs-4
                    img(src='./images/view.png' width='20px;')
                    h6= community[index+1].view
          - }
        - }
    #like_con.col-xs-12
      span.community-row
        span.community-col
          each val, index in community
            - if (index % 2 == 0)
              span.community-box(onClick="location.href='/community_box?communityNo=#{community[index].communityNo}';")
                #titleBlock.col-xs-12
                  .row
                    .col-xs-2
                      img(src='./images/brand_logo/#{community[index].brandImageName}' width='25px;')
                    .hidden-xs.col-sm-4
                      h6= community[index].brandName
                #imgBlock.col-xs-12
                  img(src='./images/community/#{community[index].image}' width="100%;")
                #likeBlock.col-xs-12
                  .row
                    .col-xs-4
                      img(src=(community[index].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
                      h6= community[index].like
                    .col-xs-4
                      img(src='./images/speech.png' width='20px;')
                      h6= community[index].count
                    .col-xs-4
                      img(src='./images/view.png' width='20px;')
                      h6= community[index].view
        span.community-col
          each val, index in community
            - if (index % 2 == 1)
              span.community-box(onClick="location.href='/community_box?communityNo=#{community[index].communityNo}';")
                #titleBlock.col-xs-12
                  .row
                    .col-xs-2
                      img(src='./images/brand_logo/#{community[index].brandImageName}' width='25px;')
                    .hidden-xs.col-sm-4
                      h6= community[index].brandName
                #imgBlock.col-xs-12
                  img(src='./images/community/#{community[index].image}' width="100%;")
                #likeBlock.col-xs-12
                  .row
                    .col-xs-4
                      img(src=(community[index].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
                      h6= community[index].like
                    .col-xs-4
                      img(src='./images/speech.png' width='20px;')
                      h6= community[index].count
                    .col-xs-4
                      img(src='./images/view.png' width='20px;')
                      h6= community[index].view


    script(type='text/javascript').
      var count=1;
      function change(num){
        var copy = count;
        count=num;

        if(num==copy);
        else if(num==1){
          document.getElementById('likeTab').style.borderColor = "#ffffff";
          document.getElementById('like_con').style.display="none";
          document.getElementById('activityTab').style.borderColor="#ffa800";
          document.getElementById('activity_con').style.display="block";
        }
        else{
          document.getElementById('activityTab').style.borderColor="#ffffff";
          document.getElementById('activity_con').style.display="none";
          document.getElementById('likeTab').style.borderColor = "#ffa800";
          document.getElementById('like_con').style.display="block";
        }
      }