extends layout

block style
  style(type='text/css').
    #box2 {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px;}
    #box22 {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px; margin-top:13px;}
    #box22 span {float: right; padding-top: 10px;}
    #box2 span {float: right; padding-top: 10px;}
    #box2_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;padding-right: 10px;margin-bottom: 13px;}
    #box2_ span {float: right; padding-top: 10px;}
    #box1_ span {float: right; padding-top: 10px;}
    #box1_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;padding-right: 10px;margin-bottom: 13px;margin-top: 13px;}
    #myBrandList {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px; display:none;}
    #myBrand {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px;}
    #myBrand span {float: right; padding-top: 10px;}

block content
  .container
    #box1_.col-xs-12(onclick='location.href="/user_settings";')
      .row
        .col-xs-2
          h5(style='color:#636363;') ID
        .col-xs-10
          h5(style='float:left;') #{email}
          span.glyphicon.glyphicon-cog
    #box2.col-xs-12
      h5(style='float:left;' onClick='location.href="/my_activity";') 나의 활동
      span.glyphicon.glyphicon-chevron-right
    #box2.col-xs-12
      h5(style='float:left;' onClick="window.alert('정식 서비스는 준비중입니다.');") 주문목록/배송조회
      span.glyphicon.glyphicon-chevron-right
    #box2.col-xs-12
      h5(style='float:left;' onClick="window.alert('정식 서비스는 준비중입니다.');") 취소/반품/환불내역
      span.glyphicon.glyphicon-chevron-right
    #box2_.col-xs-12(onclick='location.href="/enroll_code";')
      h5(style='float:left;') 회원코드 입력
      span.glyphicon.glyphicon-chevron-right
    #myBrand.col-xs-12(onclick='brandOpen();')
      h5(style='float:left;') MY 브랜드
      span.glyphicon.glyphicon-chevron-down
    #myBrandList.col-xs-12
      if (result.length)
        each val in result
          .row(style='height: 55px;' onClick='location.href="/brand?brandNo=#{val.brandNo}";')
            .col-xs-2(style='height: 100%; white-space: nowrap; text-align: center;')
              span(style='display: inline-block; height: 100%; vertical-align: middle;')
              img(style='width: 45px; height: auto; vertical-align: middle;' src="./images/brand_logo/#{val.image}")
            .col-xs-6(style='height: 100%;')
              h6(style='font-weight: bold;')= val.brand
              h6(style='font-size: 80%;')= val.content
      else
        .row
          .col-xs-12
            center
              p.
                즐겨찾기한 브랜드가 없습니다.<br> <a href='/service'>브랜드 목록으로 이동하기</a>
    #box22.col-xs-12(onclick="location.href='https://vasket.co.kr/inquiry';")
      h5(style='float:left;') 1:1 문의
      span.glyphicon.glyphicon-chevron-right
    #box2.col-xs-12
      h5(style='float:left;') 고객센터
      span.glyphicon.glyphicon-chevron-right
    #box2_.col-xs-12
      center
        h4 전화문의 070-7706-5099
        h6(style='color:#bbbbbb;') 평일 09-18시 / 주말, 공휴일 휴무

block script_content
  script(src='/javascripts/javascript.js')
  script.
    var count =0;
      function brandOpen(){
      var q = document.getElementById("myBrand");
      var ans = document.getElementById("myBrandList");
      if(count == 0){
      q.innerHTML="<h5 style="+"\"float:left;\""+">MY 브랜드</h5>" +"<span "+"class="+"\"glyphicon glyphicon-chevron-up\""+"></span>";
      ans.style.display ="block";
      count=1;
      }
      else{
      q.innerHTML="<h5 style="+"\"float:left;\""+">MY 브랜드</h5>" +"<span "+"class="+"\"glyphicon glyphicon-chevron-down\""+"></span>";
      ans.style.display = "none";
      count=0;
      }
      }