extends layout

block style
  style(type='text/css').
    #box1 {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;}
    #box1_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;margin-bottom: 13px;}
    #hr {margin-top: -10px;}
    .nav-tabs li {width: 50%; text-align: center; color:#000000; background-color: #d7d7d7;}
    .tab-content#secA input {padding-top: 10px;}
    button.btn-danger {width: 100%; margin-top: 10px; margin-bottom: 20px;}

block content
  .container
    h5 주문/결제
    #box1.col-xs-12(style='padding-left:4px;')
      .row
        .col-xs-3
          img(src='/images/basic.jpg', width='60px;')
        .col-xs-9
          h5#bank 나이키/오니츠카타이거 35종
    #box1.col-xs-12
      .row
        .col-xs-12
          h5 선택4)나이키 다트11 1.블랙+화이트 260
      .row
        .col-xs-12
          p(style='float:right; color:#353535;') 1개 | 59,500원
    #hr.col-xs-12
      hr
    h5 구매 회원 정보
    #box1.col-xs-12
      .row
        .col-xs-3
          h6(style='color:#636363;') 성명
        .col-xs-9
          h6#bank #{name}
      .row
        .col-xs-3
          h6(style='color:#636363;') 이메일
        .col-xs-9
          h6#bank #{email}
      .row
        .col-xs-3
          h6(style='color:#636363;') 휴대폰번호
        .col-xs-9
          h6#bank 010-2989-7753
    #hr.col-xs-12
      hr
    h5 배송정보
    div
      ul.nav.nav-tabs
        li.active
          a(href='#secA', data-toggle='tab') 배송지 목록
        li
          a(href='#secB', data-toggle='tab') 새로 입력
      .tab-content
        #secA.tab-pane.fade.in.active
          each val in dest
            #box1.col-xs-12
              .row
                .col-xs-1
                  input.addrRadio(type='radio', name='address' checked=(val.isDefault == 1 ? "checked" : undefined))
                .col-xs-11
                  p#name.name= val.userName
                  p#phone.phone 휴대폰: #{val.phone}
                  p#address.addr= val.address
        #secB.tab-pane.fade
          #box1.col-xs-12
            .row
              .col-xs-3
                h6(style='color:#636363;') 성명
              .col-xs-9
                input(type='text', name='name', style='width:100%; padding-top:3px;')
            .row
              .col-xs-3
                h6(style='color:#636363;') 휴대폰번호
              .col-xs-9
                input(type='text', name='phone_1', maxlength='3', size='4', style='padding-top:3px;')
                | -
                input(type='text', name='phone_2', maxlength='4', size='4', style='padding-top:3px;')
                | -
                input(type='text', name='phone_3', maxlength='4', size='4', style='padding-top:3px;')
            .row
              .col-xs-3
                h6(style='color:#636363;') 배송주소
              .col-xs-9
                .form-inline
                  input#postal(type='text', name='postal', size='25', style='padding-top:3px;', placeholder='동(읍/면/리) 입력 후 찾기')
                  button.btn.btn-default(onClick='findAddr(); return false;', style='padding-top:3px;') 찾기
                input#base_addr(type='text', name='base_addr', style='padiing-top:3px; margin-top:2px; width:100%;')
                input#detail_addr(type='text', name='detail_addr', style='padiing-top:3px; margin-top:2px; width:100%;')
            hr
            input(type='checkbox', name='add_dest')
            |  배송지 목록에 추가합니다. 
            br
            input(type='checkbox', name='def_dest')
            |  기본 배송지로 설정합니다.
    #box1.col-xs-12
      select.form-control(style='width:100%')
        option 배송시 요청사항을 선택해주세요.
        option 부재시 경비실에 맡겨주세요.
        option 도착전 문자/전화 주세요.
      input(type='text', placeholder='기타내용을 입력해주세요.', maxlength='60', style='width:100%; margin-top:3px;')
      p(style='float:right;') 0/30자
    #hr.col-xs-12
      hr
    h5 결제 정보
    #box1.col-xs-12
      .row
        .col-xs-3
          h6(style='color:#636363;') 총상품가격
        .col-xs-9
          h6(style='float:right;') 59,500원
      .row
        .col-xs-3
          h6(style='color:#636363;') 할인쿠폰
        .col-xs-9
          h6(style='float:right;') 0원
      .row
        .col-xs-3
          h6(style='color:#636363;') 총배송비
        .col-xs-9
          h6(style='float:right;') 0원
      .row
        .col-xs-3
          h6(style='color:#636363;') 총결제가격
        .col-xs-9
          h6(style='float:right;') 59,500원
    button.btn.btn-danger(type='submit', onClick='payFinish();') 결제하기

block script_content
  script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
  script.
    function findAddr() {
    new daum.Postcode({
    oncomplete: function(data) {
    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
    var fullAddr = ''; // 최종 주소 변수
    var extraAddr = ''; // 조합형 주소 변수
    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
    fullAddr = data.roadAddress;
    } else { // 사용자가 지번 주소를 선택했을 경우(J)
    fullAddr = data.jibunAddress;
    }
    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
    if(data.userSelectedType === 'R'){
    //법정동명이 있을 경우 추가한다.
    if(data.bname !== ''){
    extraAddr += data.bname;
    }
    // 건물명이 있을 경우 추가한다.
    if(data.buildingName !== ''){
    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
    }
    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
    }
    // 우편번호와 주소 정보를 해당 필드에 넣는다.
    document.getElementById('postal').value = data.zonecode; //5자리 새우편번호 사용
    document.getElementById('base_addr').value = fullAddr;
    // 커서를 상세주소 필드로 이동한다.
    document.getElementById('detail_addr').focus();
    }
    }).open();
    }
    $(document).ready($("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
      var id = $(e.target).attr("href").substr(1);
      tab_name = id;
    }));

    function payFinish() {
      var tab_name = $('ul.nav-tabs .active > a').attr('href');
      if (tab_name == '#secA') {
        var name = $('div.row:has(".addrRadio:checked") p.name').text();
        var phone = $('div.row:has(".addrRadio:checked") p.phone').text();
        var addr = $('div.row:has(".addrRadio:checked") p.addr').text();
        console.log(name, phone, addr);
        $.post('/pay_finish', {tab: tab_name, name: name, phone: phone, addr: addr});
      }
      if (tab_name == '#secB') {
        var name = $('input[name="name"]').value;
        var hone = $('input[name="phone_1"]').value+'-'+$('input[name="phone_2"]').value+'-'$('input[name="phone_3"]').value;
        var addr = $('input[name="postal"]').value+' '+$('input[name="base_addr"]').value+' '+$('input[name="detail_addr"]').value;
        var add = $('input[name="add_dest"]').checked;
        var isDefault = $('input[name="def_dest"]').checked;
        console.log(name, phone, addr, add, isDefault);
        $.post('/pay_finish', {tab: tab_name, name: name, phone: phone, addr: addr, add: add, isDefault: isDefault});
      }
    }