extends layout

block style
	style(type='text/css').
		body {padding-top:53px; background-color:#e7e7e7;}
		.menu {word-break: keep-all}
		#service-brand {text-align:center; background-color:#ffffff; border-width:0px; border-style:solid; border-color:#ffa800;height:50px; padding-top:7px; border-bottom-width:3px;}
		#service-contents {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff; border-left-width:0px;height:50px;padding-top:7px;border-bottom-width:3px;}
		#service-event {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff; border-left-width:0px;height:50px;border-bottom-width:3px; padding-top:7px;}
		#service-discount {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff;border-left-width:0px;height:50px;border-bottom-width:3px; padding-top:7px;}
		#service-brand h6, #service-contents h6, #service-event h6, #service-discount h6 {font-size:100%; font-family: nanumbarungothicbold;}
		#brand-list { background-color:#ffffff;height:55px; border-style:solid;border-width:0px; border-bottom-width:1px; border-color:#bbbbbb;}
		#brand-list h6 {font-size:110%; } 
		#brand-con {display:none; padding-top: 47px;}
		#contents-con {display:none; padding: 5px; padding-top: 53px; background-color: #F6F6F6;}
		#event-con {display:none; backgroung-color:#f6f6f6;}
		#discount-con {display:none; padding: 5px; padding-top: 53px; background-color: #F6F6F6;}
		.like {width: 85px; font-size:90%; border-style:solid; border-width:1px; border-radius:15px; text-align:center; border-color:#bbbbbb; background-color:#ffa800; padding-top: 3px; padding-bottom: 3px;}
		.non_activated {width: 85px; font-size:90%; border-style:solid; border-width:1px; border-radius:15px; text-align:center; border-color:#bbbbbb; background-color:#ffffff; padding-top: 3px; padding-bottom: 3px;}
		#event-list {padding: 5px; padding-top: 100px; background-color:#F6F6F6; }
		.discount-box {background-color: #FFFFFF;background-clip: content-box;padding: 5px;webkit-flex: 1;-ms-flex: 1;flex: 1; }
		#conEnroll {position:fixed; background-color:#f6f6f6; padding: 10px; top:100px; left:0px; right:0px;}
		#conEnroll button {width:100%;}
		#titleBlock {background-color:#ffffff; width:100%; height:50px; padding-top:10px;}
		#imgBlock {background-color:#ffffff; width:100%; padding-bottom: 60px; padding-left: 0; padding-right: 0;}
		#contImgBlock {background-color:#ffffff; width:100%; padding-bottom: 100px; padding-left: 0px; padding-right: 0px; }
		#likeBlock {background-color:#ffffff; text-align:center; width:100%; padding-top:5px; padding-right: 10px; position: absolute; bottom: 5px; background-clip: content-box; }
		#contTitleBlock {
			background-color: #ffffff;
			width: 100%;
			height: 40px;
			position: absolute;
			bottom: 60px;
			background-clip: content-box;
			padding-right: 25px;
		}
		.community-box {background-color: #FFFFFF;
		background-clip: content-box;padding: 5px;
		webkit-flex: 1;
		-ms-flex: 1;
		flex: 1; }
		.content-box {background-color: #FFFFFF;
		background-clip: content-box;padding: 5px;
		webkit-flex: 1;
		-ms-flex: 1;
		flex: 1; }
		.community-box:after {
		    content: "";
		    position: absolute;
		    top: 5px;
		    left: 5px;
		    right: 5px;
		    bottom: 5px;
		    display: block;
		    border: 1px solid #c3c3c3;
		    cursor: pointer;
		}
		.community-row {margin: 0px;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; }
		.content-box:after {
		    content: "";
		    position: absolute;
		    top: 5px;
		    left: 5px;
		    right: 5px;
		    bottom: 5px;
		    display: block;
		    border: 1px solid #c3c3c3;
		    cursor: pointer;
		}
		.content-row {margin: 0px;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; }
		.discount-row {margin: 0px;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; }
		.discount-box:after {
		    content: "";
		    position: absolute;
		    top: 5px;
		    left: 5px;
		    right: 5px;
		    bottom: 5px;
		    display: block;
		    border: 1px solid #c3c3c3;
		    cursor: pointer;
		}
		.email {float: right;}
		.email h6 {float: right;}
		.email img {float: right; padding-top: 6px; margin-right: 3px;}
		.tab-bar {position: fixed; top: 50px; z-index: 1;}
		.discount-box h5 {font-size: 200%;}
		.discount-box h6 {font-size: 150%; float: right;}
		.no-padding {padding: 0;}
		.width-100-no-margin {width: 100%; margin: 0;}
	style.
		@media only screen and (max-width: 500px) {.discount-box h5 {font-size: 130%;} .discount-box h6 {font-size: 100%;}}
		@media only screen and (max-width: 350px) {.email h6 {font-size:80%;}}

block content
	.col-xs-12.tab-bar
		.row.menu
			#service-brand.col-xs-3(onclick="change(1);")
				h6 브랜드
			#service-contents.col-xs-3(onclick="change(2);")
				h6 컨텐츠
			#service-event.col-xs-3(onclick="change(3);")
				h6 커뮤니티
			#service-discount.col-xs-3(onclick="change(4);")
				h6 커머스
	#brand-con
		if (brand)
			each val in brand
				#brand-list.col-xs-12
					.row(style='height: 55px;')
						.col-xs-2(style='height: 100%; min-width: 75px !important;' onclick="location.href='/brand?brandNo=#{val.brandNo}';")
							span(style='display: inline-block; height: 100%; vertical-align: middle;')
							img(style='width: 45px; height: auto; vertical-align: middle;' src="./images/brand_logo/#{val.image}")
						.col-xs-6(style='height: 100%; width: auto;' onclick="location.href='/brand?brandNo=#{val.brandNo}';")
							span(style='display: inline-block; height: 100%; vertical-align: middle;')
							h6(style='display: inline-block; margin: 0; vertical-align: middle; line-height: 100%;')= val.brandName
						if (loggedIn)
							.col-xs-4(style='height: 100%; min-width: 115px !important; float: right; position: absolute; top: 0; right: 0;')
								center(style='height: 100%;')
									span(style='display: inline-block; height: 100%; vertical-align: middle;')
									p.non_activated(style='display: inline-block; height: 26px; margin: 0; vertical-align: middle; line-height: 20px;' id="brand#{val.brandNo}" onclick="like(#{val.brandNo});") 즐겨찾기
	#contents-con.col-xs-12
		each val, index in content
			- if (index % 2 == 0) {
			.row.content-row
				.col-xs-6.content-box(onClick="location.href='/content_box?contentNo=#{content[index].contentNo}';")
					#contImgBlock.col-xs-12
						img(src='./images/contents/#{content[index].image}/0' width="100%;")
					#contTitleBlock.col-xs-12
						h6= content[index].title
					#likeBlock
						.row.width-100-no-margin
							.col-xs-3.no-padding
								img(src=(content[index].user_like ? './images/heart_on.png' : './images/heart.png') width='15px;')
								h6= content[index].like
							.col-xs-3.no-padding
								img(src='./images/speech.png' width='15px;')
								h6= content[index].count
							.col-xs-3.no-padding
								img(src=(content[index].user_clip ? './images/clip.png' : './images/heart.png') width='15px;')
								h6= content[index].clip
							.col-xs-3.no-padding
								img(src='./images/view.png' width='15px;')
								h6= content[index].view
				- if (index+1 < content.length) {
					.col-xs-6.content-box(onClick="location.href='/content_box?contentNo=#{content[index+1].contentNo}';")
						#contImgBlock.col-xs-12
							img(src='./images/contents/#{content[index+1].image}/0' width="100%;")
						#contTitleBlock.col-xs-12
							h6= content[index+1].title
						#likeBlock
							.row.width-100-no-margin
								.col-xs-3.no-padding
									img(src=(content[index+1].user_like ? './images/heart_on.png' : './images/heart.png') width='15px;')
									h6= content[index+1].like
								.col-xs-3.no-padding
									img(src='./images/speech.png' width='15px;')
									h6= content[index+1].count
								.col-xs-3.no-padding
									img(src=(content[index+1].user_clip ? './images/clip.png' : './images/heart.png') width='15px;')
									h6= content[index+1].clip
								.col-xs-3.no-padding
									img(src='./images/view.png' width='15px;')
									h6= content[index+1].view
				- }
			- }
	#event-con
		#event-list.col-xs-12
			each val, index in community
				- if (index % 2 == 0) {
				.row.community-row
					.col-xs-6.community-box(onClick="location.href='/community_box?communityNo=#{community[index].communityNo}';")
						#titleBlock.col-xs-12
							.row
								.col-xs-2
									img(src='./images/brand_logo/#{community[index].brandImageName}' width='25px;')
								.hidden-xs.col-sm-4
									h6= community[index].brandName
								.col-xs-9.col-sm-6.email
									h6= community[index].email
									img(src='./images/user.png' width="15px")
						#imgBlock.col-xs-12
							img(src='./images/community/#{community[index].image}' width="100%;")
						#likeBlock
							.row.width-100-no-margin
								.col-xs-4
									img(src=(community[index].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
									h6= community[index].like
								.col-xs-4
									img(src='./images/speech.png' width='20px;')
									h6= community[index].count
								.col-xs-4
									img(src='./images/view.png' width='20px;')
									h6= community[index].view
					- if (index+1 < community.length) {
						.col-xs-6.community-box(onClick="location.href='/community_box?communityNo=#{community[index+1].communityNo}';")
							#titleBlock.col-xs-12
								.row
									.col-xs-2
										img(src='./images/brand_logo/#{community[index+1].brandImageName}' width='25px;')
									.hidden-xs.col-sm-4
										h6= community[index+1].brandName
									.col-xs-9.col-sm-6.email
										h6= community[index+1].email
										img(src='./images/user.png' width="15px")
							#imgBlock.col-xs-12
								img(src='./images/community/#{community[index+1].image}' width="100%;")
							#likeBlock
								.row.width-100-no-margin
									.col-xs-4
										img(src=(community[index+1].user_like ? './images/heart_on.png' : './images/heart.png') width='20px;')
										h6= community[index+1].like
									.col-xs-4
										img(src='./images/speech.png' width='20px;')
										h6= community[index+1].count
									.col-xs-4
										img(src='./images/view.png' width='20px;')
										h6= community[index+1].view
					- }
				- }
		#conEnroll.col-xs-12
			button.btn.btn-warning(onClick="location.href='/community_post';") 게시글 올리기
	#discount-con.col-xs-12
		each val, index in product
			- if (index % 2 == 0) {
			.row.discount-row
				.discount-box.col-xs-6(onClick="location.href='/detail?productNo=#{product[index].productNo}';")
					img.discount(src="./images/product_image/#{product[index].productNo}/main.jpg" width='100%;')
					h5= product[index].productName
					h6.price= product[index].productPrice
				- if (index+1 < product.length) {
					.discount-box.col-xs-6(onClick="location.href='/detail?productNo=#{product[index].productNo}';")
						img.discount(src="./images/product_image/#{product[index+1].productNo}/main.jpg" width='100%;')
						h5= product[index+1].productName
						h6.price= product[index+1].productPrice
				- }
			- }


block script_content
	script.
		var count=1;
		function change(num){
			var copy_count=count;
			var before_active;
			var before_tab;
			var after_active;
			var after_tab;
			count=num;
			location.hash = "#"+num;
			if(copy_count == 1){
				before_active = "brand-con"
				before_tab = "service-brand"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else if(copy_count == 2){
				before_active = "contents-con"
				before_tab = "service-contents"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else if(copy_count == 3){
				before_active = "event-con"
				before_tab = "service-event"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else{
				before_active = "discount-con"
				before_tab = "service-discount"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			if(count == 1){
				after_active = "brand-con"
				after_tab = "service-brand"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else if(count == 2){
				after_active = "contents-con"
				after_tab = "service-contents"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else if(count == 3){
				after_active = "event-con"
				after_tab = "service-event"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else{
				after_active = "discount-con"
				after_tab = "service-discount"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
		}
		function like(num){
			var like_id=document.getElementById("brand"+num);
			if(like_id.className == "like"){
				$.ajax({
					type: "POST",
					url: '/brand_like',
					data: {command: "delete", brandNo: num},
					success: function() {
						like_id.className = "non_activated";
					}
				});
			}
			else{
			 $.ajax({
			 		type: "POST",
					url: '/brand_like',
					data: {command: "insert", brandNo: num},
					success: function() {
						like_id.className = "like";
					}
				});
			}
		}
		
		(function setTab() {
			if (location.hash)
				change(location.hash.charAt(1));
			else
				change(1);
		})();
		function comma() {
			$("h6.price").each(function() {
				$(this).html(function(index, currentcontent) {
					return currentcontent.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')+" 원";
				}); 
			});
		}
		$(document).ready(comma);
	if (loggedIn)
		script.
			function setInitialLike() {
					var brandLike = !{JSON.stringify(brandLike)};
					for (var val in brandLike) {
						$("#brand"+brandLike[val]['brandNo']).attr('class', 'like');
					}
			}
			$(document).ready(setInitialLike);