extends layout

block style
	style(type='text/css').
		body {padding-top:53px; background-color:#e7e7e7;}
		#service-brand {text-align:center; background-color:#ffffff; border-width:0px; border-style:solid; border-color:#ffa800;height:50px; padding-top:7px; border-bottom-width:3px;}
		#service-brand h6 {font-size:80%;}
		#service-contents {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff; border-left-width:0px;height:50px;padding-top:7px;border-bottom-width:3px;}
		#service-contents h6 {font-size:80%;}
		#service-event {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff; border-left-width:0px;height:50px;border-bottom-width:3px;}
		#service-event h6 {font-size:80%;}
		#service-discount {text-align:center;background-color:#ffffff;border-width:0px; border-style:solid; border-color:#ffffff;border-left-width:0px;height:50px;border-bottom-width:3px;}
		#service-discount h6 {font-size:80%;}
		#brand-list { background-color:#ffffff;height:55px; border-style:solid;border-width:0px; border-bottom-width:1px; border-color:#bbbbbb; padding-top:8px;}
		#brand-list h6 {font-size:110%; font-weight:bold;}
		#contents-list {padding: 0px; background-color:#ffffff; border-style:solid; border-width:3px; border-color:#e7e7e7;}
		#brand-con {display:block;}
		#contents-con {display:none; margin-top:3px;}
		#event-con {display:none;}
		#discount-con {display:none;}
		.like {font-size:90%; font-weight:bold; border-style:solid; border-width:1px; border-radius:7px; text-align:center; border-color:#bbbbbb; margin-top:8px; background-color:#ffa800;padding-top:3px;padding-bottom:3px;}
		.non_activated {font-size:90%; font-weight:bold; border-style:solid; border-width:1px; border-radius:7px; text-align:center; border-color:#bbbbbb; margin-top:8px; background-color:#ffffff;padding-top:3px;padding-bottom:3px;}
		#event-list {padding: 0px; background-color:#ffffff; border-width:0px; border-bottom-width:5px; border-style:solid; border-color:#bbbbbb;}
		#discount-list {padding: 0px; background-color:#ffffff; border-width:0px; border-bottom-width:5px; border-style:solid; border-color:#bbbbbb;}
block content
	.col-xs-12
		.row
			#service-brand.col-xs-3(onclick="change(1);")
				h6 브랜드
			#service-contents.col-xs-3(onclick="change(2);")
				h6 컨텐츠
			#service-event.col-xs-3(onclick="change(3);")
				h6 이벤트
				h6(style="margin-top:-4px;") 커머스		
			#service-discount.col-xs-3(onclick="change(4);")
				h6 가격할인
				h6(style="margin-top:-4px;") 커머스
	#brand-con
		if (brand)
			each val in brand
				#brand-list.col-xs-12
					.row
						.col-xs-2(onclick="location.href='/brand?brandNo=#{val.brandNo}';")
							img(src="./images/brand_logo/#{val.image}" width="45px;")
						.col-xs-6(onclick="location.href='/brand?brandNo=#{val.brandNo}';")
							h6= val.brandName
						.col-xs-4
							p.non_activated(id="brand#{val.brandNo}" onclick="like(#{val.brandNo});") 즐겨찾기
	#contents-con.col-xs-12
		.row
			#contents-list.col-xs-6
				img(src="./images/main_1.jpg" width="100%;")
				h6 한 주를 뜨겁게 달군 흥미로운 영화이슈
			#contents-list.col-xs-6
				img(src="./images/main_1.jpg" width="100%;")
				h6 한 주를 뜨겁게 달군 흥미로운 영화이슈
	#event-con
		#event-list.col-xs-12
			.col-xs-12
				img(src="./images/main_1.jpg" width="100%;")
			.col-xs-12
	#discount-con
		each val in product
			a(href='/detail?productNo=#{val.productNo}')
				#discount-list.col-xs-12
					img.discount(src="./images/product_image/#{val.productNo}/main.jpg" width='100%;')
					h5(style='font-size: 200%;')= val.productName
					h6(style='font-size: 150%; float: right;') #{val.productPrice} 원

block script_content
	script.
		var count=1;
		function change(num){
			var copy_count=count;
			var before_active;
			var before_tab;
			var after_active;
			var after_tab;
			count=num;
			if(copy_count == 1){
				before_active = "brand-con"
				before_tab = "service-brand"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else if(copy_count == 2){
				before_active = "contents-con"
				before_tab = "service-contents"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else if(copy_count == 3){
				before_active = "event-con"
				before_tab = "service-event"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			else{
				before_active = "discount-con"
				before_tab = "service-discount"
				document.getElementById(before_active).style.display="none";
				document.getElementById(before_tab).style.borderColor="#ffffff";
			}
			if(count == 1){
				after_active = "brand-con"
				after_tab = "service-brand"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else if(count == 2){
				after_active = "contents-con"
				after_tab = "service-contents"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else if(count == 3){
				after_active = "event-con"
				after_tab = "service-event"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
			else{
				after_active = "discount-con"
				after_tab = "service-discount"
				document.getElementById(after_active).style.display="block";
				document.getElementById(after_tab).style.borderColor="#ffa800";
			}
		}
		function like(num){
			var like_id=document.getElementById("brand"+num);
			if(like_id.className == "like"){
				$.ajax({
					type: "POST",
					url: '/brand_like',
					data: {command: "delete", brandNo: num},
					success: function() {
						like_id.className = "non_activated";
					}
				});
			}
			else{
			 $.ajax({
			 		type: "POST",
					url: '/brand_like',
					data: {command: "insert", brandNo: num},
					success: function() {
						like_id.className = "like";
					}
				});
			}
		}
		function setInitialLike() {
		var brandLike = !{JSON.stringify(brandLike)};
			for (var val in brandLike) {
				$("#brand"+brandLike[val]['brandNo']).attr('class', 'like');
			}
		}
		$(document).ready(setInitialLike);
		(function setTab() {
			if (location.hash)
				change(location.hash.charAt(1));
		})();
