doctype html
html(lang='ko-kr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title vasket!
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {
      padding-top: 70px;
      background-color: #ffa800;
      }
      .navbar {
      background-color: #ffa800;
      border: none;
      margin-top: 17px;
      padding-bottom: 50px;
      }
      .navbar-brand
      {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
      }
      #aa {
      border-radius: 20px;
      background-color: white;
      text-align: center;
      }<
      #pwd {
      margin-top: 4px;
      margin-bottom: 4px;
      }
      button {
      margin-bottom: 4px;
      margin-top: 4px;
      width: 285px;
      height: 35px;
      }
      input.btn {
      width: 285px;
      height: 35px;
      background-color: #ffa800;
      }
      input.form-control {
      width: 285px;
      }
      select {
      margin-top: 4px;
      }
      /*123 76*/
      #year {width: 100%; height: 35px;}
      #month {width: 100%; height: 35px;}
      #day {width: 100%; height: 35px;}
      #birth {width: 285px;}
      .nopadding {
      padding: 0 !important;
      margin: 0 !important;
      }
      #sex { width: 285px; text-align: left; height: 35px; margin-top: 4px;}
  body
    .container-fluid
      center
        a(href='/')
          img(src='/images/login_logo.png')
      br
      br
      br
      #aa.col-sm-offset-2.col-xs-12.col-sm-8
        br
        br
        .col-xs-12
          h3 추가정보입력
          hr
          .col-xs-12
            label 기본정보입력
            center
              input#username.form-control(type='text', name='name', placeholder='이름')
          form.form-horizontal(role='form', action='signup_insert', method='post')
            center
              #birth.form-inline
                .col-xs-6.nopadding
                  select#year.form-control
                    option 년
                .col-xs-3.nopadding
                  select#month.form-control
                    option 월
                .col-xs-3.nopadding
                  select#day.form-control
                    option 일
                  br
            center
              .col-xs-12
                #sex.form-control
                  .col-xs-4
                    | 성별
                  .col-xs-8
                    label.radio-inline
                      input(type='radio', name='sex', value='male', checked=('#{gender}'==='male' ? "checked" : undefined))
                      | 남
                    label.radio-inline
                      input(type='radio', name='sex', value='female', checked=('#{gender}'==='female' ? "checked" : undefined))
                      | 여
                hr
            .col-xs-12
              .dropdown
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                  | 이용 약관
                  span.caret
                ul.dropdown-menu
                  li
                    pre.
                      \n                    Hello!
                                          Here is the agreement of utilization space
                                          Thank you!
              .dropdown
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                  | 개인정보 취급약관
                  span.caret
                ul.dropdown-menu
                  li
                    pre.
                      \n                    Hello!
                                          Here is the agreement of utilization space
                                          Thank you!
              .dropdown
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                  | 전자상거래 약관
                  span.caret
                ul.dropdown-menu
                  li
                    pre.
                      \n                    Hello!
                                          Here is the agreement of utilization space
                                          Thank you!
              input#userid(type='hidden', value='#{id}')
              input#email(type='hidden', value='#{email}')
              center
                .col-xs-12
                  input.btn.btn-default(type='submit', value='약관에 동의하고 가입하기')
          .col-xs-12
            hr
            p
              | 이미 가입 하셨나요? 
              a(href='login') 로그인
          br
          br
    br
    br
    br
    br
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript').
      var innerHTML;
      for (var year=2015; year>1909; year--) {
      innerHTML = document.getElementById("year").innerHTML;
      document.getElementById("year").innerHTML = innerHTML.concat('<option>', year, '</option>');
      }
      for (var month=1; month<13; month++) {
      innerHTML = document.getElementById("month").innerHTML;
      document.getElementById("month").innerHTML = innerHTML.concat('<option>', month, '</option>');
      }
      for (var day=1; day<32; day++) {
      innerHTML = document.getElementById("day").innerHTML;
      document.getElementById("day").innerHTML = innerHTML.concat('<option>', day, '</option>');
      }
      if (document.getElementById('username'))
        document.getElementById('username').setAttribute('value', '#{name}');
      if ('#{birthday}' != null && '#{birthday}' != '') {
        var date_arr = '#{birthday}'.split('/');
        console.log(date_arr[0]);
        console.log(date_arr[1]);
        console.log(date_arr[2]);
        $('#year').val(parseInt(date_arr[2]));
        $('#month').val(parseInt(date_arr[0]));
        $('#day').val(parseInt(date_arr[1]));
      }
    script(src='../bootstrap/js/bootstrap.min.js')
