doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {background-color: #f6f6f6; padding-bottom: 20px;}
      #nav {background-color: #FFffff; padding-top: 7px; padding-left: 10px; padding-bottom: 7px; text-align: center;border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; margin-bottom:10px;}
      #nav h4 {padding-right: 15px; font-weight:bold;}
      #nav span {float: left; font-size: 20px; padding-top: 9px; color:black;}
      #box {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px; border-right-width:1px;}
      #box_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;padding-right: 10px;margin-bottom: 13px;border-right-width:1px;}
      .btn-warning{background-color:#1245AB; text-align:center; width:100%;}
      h5 {font-weight:bold}

  body
    #nav.col-xs-12
      a(href='javascript:history.back();')
        span.glyphicon.glyphicon-arrow-left
      h4 환경설정

    .container
      #box.col-xs-12
        h5 로그인 정보
      #box_.col-xs-12
        button.btn.btn-warning(onClick='location.href="/logout";') 로그아웃
      #box.col-xs-12
        h5 회원 상태
      #box_.col-xs-12
        h6.rank= grade
        if (grade == '프리미엄')
          h6.expirationDate 만료일: 2016-4-30
      #box.col-xs-12
        h5 회원 정보
      #box_.col-xs-12
        .row
          .col-xs-3
            h6 이름
          .col-xs-9
            input(type="text" style="width:100%;" readonly value="#{name}")
        .row
          .col-xs-3
            h6 생일
          .col-xs-9
            input(type="text" style="width:100%;" readonly value="#{birth}")
        .row
          .col-xs-3
            h6 메일
          .col-xs-9
            input(type="text" style="width:100%;" value="#{email}")
        .row
          .col-xs-3
            h6 휴대폰
          .col-xs-9
            input(type="text" style="width:100%;" value="#{phone}")
      .col-xs-offset-3.col-xs-6
        button.btn.btn-warning(style="width:100%;") 수정완료